.big {
    width: 300px;
    height: 300px;
    background-color: red;
    position: relative;
}
.middle {
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.small {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2, h3, p {
    margin-bottom: 10px;
}
